header {
    .bar {
        height: 40px;
        background-color: $black;

        .nav {
            .nav-item {
                .nav-link {
                    color: $white;
                }
            }
        }
    }

    .navbar {
        .navbar-brand {
            font-size: 24px;
        }

        .nav-list {
            display: flex;

            .nav-item {
                margin: 0 20px;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}