header {
    .navbar {
        .brand {
            font-size: 24px;
            font-weight: bold;

            span {
                color: $danger;
            }
        }

        .nav-list {
            display: flex;

            .nav-item {
                margin: 0 20px;

                .nav-link {
                    font-size: 16px;
                }

                .nav-call {
                    .icon {
                        font-size: 20px;
                    }
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}