.partners {
    padding-top: 75px;
    padding-bottom: 80px;
    text-align: center;

    .title {
        font-size: 18px;
        font-weight: normal;
    }

    .row {
        margin-top: 45px;
    }
}