.projects {
    padding-bottom: 0;
    
    .swiper-projects {
        .swiper-wrapper {
            padding-top: 30px;
            padding-bottom: 100px;
        }

        .swiper-slide {
            .card {
                width: 100%;

                .card-image {
                    background-color: $custom-gray;

                    img {
                        height: 220px;
                        object-fit: contain;
                    }
                }
                
                .card-body {
                    .card-title {
                        font-size: 24px;
                        font-weight: bold;
                    }

                    .btn {
                        padding-left: 0;
                        font-size: 16px;
                        color: $black;
                        background-color: transparent;
                        border-color: transparent;
                    }
                }
            }
        }

        .swiper-pagination {
            top: 0;
        }

        .swiper-button-wrap {
            position: absolute;
            right: 60px;
            bottom: 40px;
            display: flex;
    
            .swiper-button-prev, .swiper-button-next {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 55px;
                height: 55px;
                background-color: $white;
                border: 1px solid $black;
    
                .icon {
                    font-size: 18px;
                    font-weight: bold;
                    color: $black;
                }
    
                &::after {
                    display: none;
                }
            }
    
            .swiper-button-prev {
                left: auto;
                right: 5px;
            }
    
            .swiper-button-next {
                right: auto;
                left: 5px;
            }
        }
    }
}