.services {
    .row {
        margin-top: 110px;

        .col {
            .col-title {
                font-size: 24px;
                font-weight: bold;
            }

            .col-text {
                margin: 25px 0;
                font-size: 16px;
                line-height: 28px;
                color: $gray-500;
            }

            .list-group {
                list-style: square;

                .list-group-item {
                    padding-left: 0;
                    font-weight: bold;
                    border: none;
                }
            }
        }
    }
}